In [3]:
import pandas as pd

data = {
    'Nome': ['João', 'Maria', 'Pedro', 'Ana', 'Luiz'],
    'Idade': [25, 30, 22, 28, 35],
    'Cargo': ['Analista', 'Gerente', 'Analista', 'Coordenador', 'Gerente'],
    'Salário': [3500, 5000, 3200, 4800, 5500],
    'Departamento': ['RH', 'Vendas', 'RH', 'TI', 'Vendas']
}

df = pd.DataFrame(data)
df

    Nome  Idade        Cargo  Salário Departamento
0   João     25     Analista     3500           RH
1  Maria     30      Gerente     5000       Vendas
2  Pedro     22     Analista     3200           RH
3    Ana     28  Coordenador     4800           TI
4   Luiz     35      Gerente     5500       Vendas

Questão 1: Quais são os nomes e cargos dos funcionários que têm salário maior ou igual a 5000?

In [9]:
maior_5000_loc = df.loc[df["Salário"] >= 5000]
maior_5000_loc

maior_5000 = df[df["Salário"] >= 5000]
maior_5000

    Nome  Idade    Cargo  Salário Departamento
1  Maria     30  Gerente     5000       Vendas
4   Luiz     35  Gerente     5500       Vendas

Questão 2: **Quantos** funcionários com idade entre 25 e 30 anos trabalham no departamento de RH?

In [36]:

Funcionarios_RH = df.loc[(df["Idade"]>=25) & (df["Idade"]<=30) & (df["Departamento"]=="RH")]
Funcionarios_RH

Funcionarios_RH = df.loc[(df["Departamento"] == "RH")]
Funcionarios_RH["Nome"].count()

2

Questão 3: Qual é o **salário médio** dos gerentes no departamento de Vendas?

In [40]:
Salario_Medio = df.loc[(df["Departamento"] == "Vendas")]
Salario_Medio["Salário"].mean()

5250.0

**<h2> Exercicios de análise de dados </h2>**

In [1]:
import pandas as pd
import numpy as np

# Crie um DataFrame de exemplo com dados fictícios de vendas
data = {
    'Data': pd.date_range(start='2023-01-01', periods=100),
    'Loja': np.random.choice(['Norte-Shopping', 'Nova-America', 'Barra-Shopping'], size=100),
    'Produto': np.random.choice(['X', 'Y', 'Z'], size=100),
    'Vendas': np.random.randint(1, 100, size=100),
    'Desconto': np.random.uniform(0, 0.3, size=100)
}

df = pd.DataFrame(data)
df

         Data            Loja Produto  Vendas  Desconto
0  2023-01-01    Nova-America       Z      74  0.189964
1  2023-01-02    Nova-America       X      87  0.259027
2  2023-01-03  Barra-Shopping       X      62  0.279607
3  2023-01-04    Nova-America       Y      14  0.299841
4  2023-01-05  Norte-Shopping       X      10  0.163121
..        ...             ...     ...     ...       ...
95 2023-04-06  Barra-Shopping       Z      86  0.000047
96 2023-04-07  Barra-Shopping       X      25  0.160528
97 2023-04-08    Nova-America       Y      89  0.048460
98 2023-04-09  Barra-Shopping       Y      91  0.293886
99 2023-04-10  Barra-Shopping       Y      56  0.000160

[100 rows x 5 columns]

**Como você calcularia a média das vendas mensais para cada loja?**