In [3]:
import pandas as pd

data = {
    'Nome': ['João', 'Maria', 'Pedro', 'Ana', 'Luiz'],
    'Idade': [25, 30, 22, 28, 35],
    'Cargo': ['Analista', 'Gerente', 'Analista', 'Coordenador', 'Gerente'],
    'Salário': [3500, 5000, 3200, 4800, 5500],
    'Departamento': ['RH', 'Vendas', 'RH', 'TI', 'Vendas']
}

df = pd.DataFrame(data)
df

    Nome  Idade        Cargo  Salário Departamento
0   João     25     Analista     3500           RH
1  Maria     30      Gerente     5000       Vendas
2  Pedro     22     Analista     3200           RH
3    Ana     28  Coordenador     4800           TI
4   Luiz     35      Gerente     5500       Vendas

Questão 1: Quais são os nomes e cargos dos funcionários que têm salário maior ou igual a 5000?

In [9]:
maior_5000_loc = df.loc[df["Salário"] >= 5000]
maior_5000_loc

maior_5000 = df[df["Salário"] >= 5000]
maior_5000

    Nome  Idade    Cargo  Salário Departamento
1  Maria     30  Gerente     5000       Vendas
4   Luiz     35  Gerente     5500       Vendas

Questão 2: **Quantos** funcionários com idade entre 25 e 30 anos trabalham no departamento de RH?

In [36]:

Funcionarios_RH = df.loc[(df["Idade"]>=25) & (df["Idade"]<=30) & (df["Departamento"]=="RH")]
Funcionarios_RH

Funcionarios_RH = df.loc[(df["Departamento"] == "RH")]
Funcionarios_RH["Nome"].count()

2