In [11]:
import pandas as pd
import matplotlib.pyplot as plt

dados = pd.read_excel("Nota_audiencia.xlsx")
dados

                Nome  Nota Público
0          One Piece          0.95
1  Star Wars: Ashoka          0.74
2         Dear Child          0.83
3         Wilderness          0.64
4            Top Boy          0.81
5           The Gold          0.77
6           Red Oaks          0.92
7  The Wheel of Time          0.71
8          Fondation          0.72

In [18]:
# renomear os nomes das colunas do nosso dataframe
dados_renomeados = dados.rename(columns ={'Nome': 'Series', "Nota Público":"Nota"})
dados_renomeados

              Series  Nota
0          One Piece  0.95
1  Star Wars: Ashoka  0.74
2         Dear Child  0.83
3         Wilderness  0.64
4            Top Boy  0.81
5           The Gold  0.77
6           Red Oaks  0.92
7  The Wheel of Time  0.71
8          Fondation  0.72

In [13]:
plt.figure(figsize=(10, 6))
plt.barh(Nome, Nota Público, color='royalblue')
plt.xlabel('Nota do Público')
plt.ylabel('Programas')
plt.title('Notas do Público para Programas na Netflix')
plt.gca().invert_yaxis()  # Inverter a ordem dos programas
plt.show()

SyntaxError: invalid syntax (2587544268.py, line 2)